/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display:block;
}
ol, ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}


/* Linkkien tyylit */

a {
	font:90% Asap,sans-serif;
}
a:visited {
	color:#f2a766; 
	background:transparent; 
	text-decoration:none;
}
a:link {
	color:#f2a766; 
	background:transparent; 
	text-decoration:none;
}
a:hover {
	color:#f87907; 
	background:transparent; 
	text-decoration:none;
}
a:active {
	color:#f87907; 
	background:transparent; 
	text-decoration:none;
}

html {
	height:100%;
	overflow-y: scroll;
}
body {
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	height:125px;
	width:100%;
	background:#3b3b3b;
}
#content {
    min-height: 100%; 
    height: auto !important; /*Cause footer to stick to bottom in IE 6*/
    height: 100%; 
    margin: 0 auto -50px; /*Allow for footer height*/
    vertical-align:bottom;
	background:#e2e2e2; 
}
#content_map {
    min-height: 90%; 
    height: auto !important; /*Cause footer to stick to bottom in IE 6*/
    margin: 0 auto -50px; /*Allow for footer height*/
    vertical-align:bottom;
	background:#e2e2e2; 
}
#footer {
	height:50px;
	width:100%;
	position:absolute;
	bottom:0px;
	left:0px;
	background:#3b3b3b;
}



div.nav_button {
	display:inline-block;
	vertical-align:top;
	width:77px;
	margin:0px;
	padding:0px;
	text-align:center;
	border-bottom:solid #e2e2e2 1px;
	border-top:solid #e2e2e2 1px;
}
div.nav_container {
	width:350px; 
	line-height:15px;
	padding-left:5px;
	padding-top:1px;
}
div.column {
	position:relative;
	margin:0px auto;
	padding-left:0px;
	padding-right:0px;
	padding-top:5px;
	padding-bottom:0px;
	text-align:left;
}
div.content_column {
	position:relative;
	width:840px;
	height:100%;
	margin:0px auto;
	text-align:left;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:10px; 
	padding-right:10px; 
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	background:#ffffff;
}
div.screenshot {
	display:inline-block;
	vertical-align:top;
}
div.symbol {
	display:inline-block;
	vertical-align:top;
	margin-top:5px;
	width:39px;
	height:39px;
}
div.symbol_title {
	display:inline-block;
	vertical-align:top;
	width:261px;
	height:39px;
	margin-top:5px;
	padding-top:3px;
	padding-left:5px;
}
div.symbol_desc {
	display:inline-block;
	line-height:150%;
	vertical-align:top;
	margin-top:-5px;
	padding-left:5px;
	padding-bottom:25px;
}	



hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #f1f1f1;
    margin: 0;
    padding: 0;
}

/* Tekstien tyylit */
paaotsikko {
	font:400% abel,sans-serif;
	font-weight:bold;
	letter-spacing: 1px;
	line-height:80%;
	text-align:center;
	vertical-align:top;
	color:#e2e2e2;
}
alaotsikko {
	font:200% abel,sans-serif;
	font-weight:700;
	line-height:150%;
	text-align:left;
	color:#3b3b3b;
}
pikkuotsikko {
	font:130% abel,sans-serif;
	font-weight:700;
	line-height:150%;
	text-align:left;
	color:#3b3b3b;
}
leipateksti {
	font:90% Asap,sans-serif;
	font-style:regular;
	line-height:150%;
	text-align:left;
	color:#7f7f7f;
}
copyright {
	font:70% Asap,sans-serif;
	font-weight:400;
	line-height:50%;
	text-align:left;
	color:#7f7f7f;
}
b {
	font-weight:700;
	color:#3b3b3b;
}
i {
	font-style: oblique;
}

small {
	font-size: 70%;
}



#mtbp0- {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-1496px -93px; 
}
#mtbp0-_w {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-1496px -132px; 
}


#mtbp0 {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-1549px -93px; 
}
#mtbp0_w {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-1549px -132px; 
}


#mtbp00 {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-1602px -93px; 
}
#mtbp00_w {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-1602px -132px; 
}


#mtbp1 {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-1655px -93px; 
}
#mtbp1_w {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-1655px -93px; 
}


#mtbp2 {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-1708px -93px; 
}
#mtbp2_w {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-1708px -93px; 
}


#mtbp3 {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-1761px -93px; 
}
#mtbp3_w {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-1761px -93px; 
}


#mtbp4 {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-1814px -93px; 
}
#mtbp4_w {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-1814px -93px; 
}


#mtbp5 {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-1867px -93px; 
}
#mtbp5_w {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-1867px -93px; 
}




#footway {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-1496px -14px; 
}
#footway_w {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-1496px -14px; 
}


#cycleway {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-1549px -14px; 
}
#cycleway_w {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-1549px -14px; 
}


#forbidden {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-330px -170px; 
}
#forbidden_w {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-330px -209px; 
}


#wet {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-436px -170px; 
}
#wet_w {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-436px -170px; 
}


#vegetation {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-1550px -251px; 
}
#vegetation_w {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-1550px -290px; 
}


#path_types {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-1496px -251px; 
}
#path_types_w {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-1496px -251px; 
}





#motorway {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-12px -14px; 
}
#motorway_w {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-12px -53px; 
}


#trunk {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-65px -14px; 
}
#trunk_w {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-65px -53px; 
}


#primary {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-118px -14px; 
}
#primary_w {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-118px -53px; 
}


#residential {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-277px -14px; 
}
#residential_w {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-277px -53px; 
}


#service {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-330px -14px; 
}
#service_w {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-330px -53px; 
}



#continue {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-590px -173px; 
}
#continue_w {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-590px -212px; 
}


#resurvey {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-643px -173px; 
}
#resurvey_w {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-643px -212px; 
}


#noexit {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-696px -173px; 
}
#noexit_w {
    background-image:url('./images/lines.png');
    background-repeat:no-repeat;
    background-position:-696px -212px; 
}




