/* CSS reset */
/*************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display:block;
}
ol, ul {
  list-style:none;
}
blockquote, q {
  quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}

/* Site areas */
/**************/
html {
  height:100vh;
  overflow-y:scroll;
}

header {
  width:100vw;
  height:100px;
  position:relative;
  top:0;
  left:0;
  background:#3b3b3b; /* For browsers that do not support gradients */
    background:-moz-linear-gradient(top,  #3b3b3b 0%, #3b3b3b 90%, #1a1a1a 100%); /* FF3.6-15 */
    background:-webkit-linear-gradient(top,  #3b3b3b 0%,#3b3b3b 90%,#1a1a1a 100%); /* Chrome10-25,Safari5.1-6 */
    background:linear-gradient(to bottom,  #3b3b3b 0%,#3b3b3b 90%,#1a1a1a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3b3b', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
footer {
  height:50px; 
  width:100vw;
  position:relative;
  flex-shrink:0;
  left:0;
  bottom:0; 
  background:#3b3b3b; /* For browsers that do not support gradients */
    background:-moz-linear-gradient(top, #1a1a1a 0%, #3b3b3b 20%, #3b3b3b 100%); /* FF3.6-15 */
    background:-webkit-linear-gradient(top, #1a1a1a 0%,#3b3b3b 20%,#3b3b3b 100%); /* Chrome10-25,Safari5.1-6 */
    background:linear-gradient(to bottom, #1a1a1a 0%,#3b3b3b 20%,#3b3b3b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#3b3b3b',GradientType=0 ); /* IE6-9 */
}

/*
 * 1. Avoid the IE 10-11 `min-height` bug.
 * 2. Set `flex-shrink` to `0` to prevent Chrome, Opera, and Safari from
 *    letting these items shrink to smaller than their content's default
 *    minimum size.
 */
 /* Wrapper for whole site */
.site {
  display:flex;
  flex-direction:column;
  height:100vh; /* 1 */
  width:100vw;
}
/* Wrapper for the non-header/footer part of site */
.site-content {
  flex:1 0 auto; /* 2 */
  width:100vw;
  margin:0px auto;
  padding:0px;
  background-color:#ffffff;
  position:relative;
  text-align:left;
  min-height:calc(100vh - 150px); /* Height = everything below header minus the footer */
}
/* Main content column (separately for map view) and equivalents for header/footer */
.column-full {
  max-width:900px;
  flex-basis:900px;
  -webkit-flex-basis:900px;
  margin:0px auto;
  padding-top:0px;
  padding-bottom:0px;
  padding-left:0px;
  padding-right:0px;
  overflow:hidden;
  text-align:left;
}
.column-full-map {
  padding-top:0px;
  position:relative;
  z-index:1;
  width:100%;
  height:calc(100vh - 150px); /* Height = everything minus header/footer */
}
.column-full-header {
  max-width:900px; 
  height:100%;
  margin:auto;
}
.column-full-footer {
  padding-top:8px;
  line-height:50%;
}
.column-full-title {
  margin-top:15px;
/*border-left:2px solid #e6e6e6;
  border-bottom:2px solid #e6e6e6;*/
}
/* Half-width column for map legend etc. */
.column-half {
  width:48.5%; 
  vertical-align:top;
}

.logo_and_title_container {
  width:390px;
  float:left;
}
#logo {
  margin:10px;
  float:left;
  width:62px;
  height:80px;
  background:url(../images/gps-symbol_medium.png) no-repeat center;
  display:block;
}

/* Spreading a row of images evenly horizontally across column */
.image-container {
  text-align:justify;
  line-height:0;
  margin-top:5px;
  margin-bottom:15px;
}
  .image-container img {
    display:inline-block;
  }
  .image-container:after {
    content:"";
    width:100%;
    display:inline-block;
    vertical-align:bottom;
  }
.image-text {
  display:inline-block;
  height:5px;
  width:160px; 
}

/* Map legend styling */
/**********************/
.symbol {
  display:inline-block;
  vertical-align:top;
  margin-top:5px;
  width:39px;
  height:39px;
  background-image:url('../images/lines.png');
  background-repeat:no-repeat;
}
.symbol-title {
  display:inline-block;
  vertical-align:top;
  width:300px;
  height:39px;
  margin-top:5px;
  padding-top:3px;
  padding-left:5px;
  line-height:30%;
  color:#808080;
}
.symbol-desc {
  display:inline-block;
  vertical-align:top;
  margin-top:-5px;
  padding-left:0px;
  margin-bottom:15px;
  font:11pt 'Open Sans',sans-serif;
  line-height:140%;
} 

/* Navigation styling */
/**********************/

 /* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type:none;
    position:relative;
    z-index:999;
    float:right;
    margin:0;
    margin-top:20px;
    padding:0;
    overflow:hidden;
    background-color:#3b3b3b;
}

/* Float the list items side by side */
ul.topnav li {
  float:left;
  border-top:1px solid #e2e2e2;
  border-bottom:1px solid #e2e2e2;
  font:16.5px 'Rajdhani',sans-serif;
  text-align:center;
  margin-left:10px;
  margin-top:7px;
  padding-left:5px;
  padding-right:5px;
  line-height:28px;
}

/* Style the links inside the list items */
ul.topnav li a {
  display:inline-block;
  text-decoration:none;
  transition:0.3s;
}
/* Text style for navigation links */
li a {
  font:17px 'Rajdhani',sans-serif;
  letter-spacing:0.03em;
  text-align:left;
  font-weight:600;
  color:#f2a766;
}
/* Change border color of links on hover */
ul.topnav li:hover {
  border-top:1px solid #f87907;
  border-bottom:1px solid #f87907;
  transition:0.3s;
}
/* Change font color of links on hover */
ul.topnav a:hover {
  color:#f87907;
  transition:0.3s;
}

/* Hide MENU toggle when not needed */
ul.topnav li.icon {
  display:none;
}

 /* When the screen is less than 750 pixels wide, hide all navigation buttons, display MENU toggle */
@media screen and (max-width:750px) {
  ul.topnav li {
    display:none;
  }
  ul.topnav li.icon {
    float:right;
    display:inline-block;
    padding-left:5px;
    padding-right:5px;
  }
}

/* Navigation styling when screen width <=750px */
@media screen and (max-width:750px) {
  ul.topnav.small {
    position:absolute;
    padding:0px;
    padding-bottom:20px;
    margin:0px;
    margin-top:-5px;
    width:100vw;
  }
  ul.topnav.small li.icon {
    position:relative;
    right:0;
    top:0;
    padding:0;
  }
  ul.topnav.small li {
    float:none;
    display:inline;
    padding:0;
  }
  ul.topnav.small li a {
    display:block;
    color:#f2f2f2;
    text-align:center;
    padding-bottom:10px;
    padding-top:10px;
    border-top:1px solid #e2e2e2;
    border-bottom:1px solid #e2e2e2;
    transition:0s;
    margin:0;
  }
  ul.topnav.small li a:hover {
    border-top:1px solid #f87907;
    border-bottom:1px solid #f87907;
    transition:0s;
  }
  ul.topnav.small a:hover {
    color:#f87907;
  }
}

/* Styling the currently active page's link */
ul.topnav li.current {
  border-top:1px solid #f2a766;
  border-bottom:1px solid #f2a766;
}
  ul.topnav li.current:hover {
    border-top:1px solid #f87907;
    border-bottom:1px solid #f87907;
  }
ul.topnav.small li.current {
  border-top:1px solid #f2a766;
  border-bottom:1px solid #f2a766;
  background:red;
}


/* Text styles */
/***************/
logotitle {
  font-family:'Rajdhani',sans-serif;
  font-size:35.5pt;
  font-weight:500;
  letter-spacing:0.04em;
  line-height:85px;
  vertical-align:top;
  color:#e2e2e2;
  padding-left:2px;
}
title_1 {
  font-family:'Rajdhani',sans-serif;
  font-size:13pt;
  letter-spacing:0.01em;
  font-weight:600;
  text-transform:uppercase;
  text-align:left;
  color:#3b3b3b;
  overflow:hidden;
  }
  /* Grey bar next to the title text */
  title_1:after {
    background-color:#e2e2e2;
    content:"";
    display:inline-block;
    height:12px;
    position:relative;
    vertical-align:bottom;
    width:100%;
    left:-0.1em;
    margin-right:-50%;
    margin-bottom:5px;
  }
title_2 {
  font:12.5pt 'Rajdhani',sans-serif;
  letter-spacing:0.03em;
  font-weight:600;
  text-align:left;
  color:#3b3b3b;
}
bodytext {
  font:11pt 'Open Sans',sans-serif;
  line-height:140%;
  text-align:left;
  color:#000000;
}
copyright {
  font:7pt 'Open Sans',sans-serif;
  text-align:left;
  color:#7f7f7f;
}
b {
  font-weight:700;
  color:#3b3b3b;
}
i {
  font-style:oblique;
}

small {
  font-size:70%;
}

/* Regular link styles */
/***********************/
a {
  text-decoration:none;
  background:transparent; 
  text-decoration:none;
}
  a:visited {
    color:#f2a766; 
  }
  a:link {
    color:#f2a766; 
  }
  a:hover {
    color:#f87907; 
  }
  a:active {
    color:#f87907; 
  }

/* Styling the quick travel buttons */
#quickTravel {
  height:26px; 
  width:84px;  
  text-indent:-2px;
  font:100% 'Open Sans',sans-serif;
  text-align:left;
  line-height:23px;
  border-radius:2px;
}

/* Styling leaflet elements to match rest of the site */
/******************************************************/
.leaflet-container {
  font:80% 'Open Sans', Arial, Helvetica, sans-serif;
  }

.leaflet-bar a {
  background-color:#ffffff;
  border-bottom:1px solid #ccc;
  width:26px;
  height:26px;
  line-height:26px;
  display:block;
  text-align:center;
  text-decoration:none;
  color:black;
  }
  .leaflet-bar a:hover {
   background-color:#f4f4f4;
  }
/* Removing corner smoothing from between the two buttons in leaflet's zoom control and divider line from below the lowest */
  .leaflet-bar a:first-child {
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
  }
  .leaflet-bar a:last-child {
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
    border-bottom:none;
  }
/* Sharpening layer control's corners */
.leaflet-control-layers {
  border-radius:2px;
}

/* Images for map legend */
/*************************/
.motorway {
    background-position:-12px -14px; 
}
.trunk {
    background-position:-65px -14px; 
}
.primary {
    background-position:-118px -14px; 
}
.residential {
    background-position:-277px -14px; 
}
.service {
    background-position:-330px -14px; 
}
.mtbp0- {
    background-position:-1496px -93px; 
}
.mtbp0 {
    background-position:-1549px -93px; 
}
.mtbp1 {
    background-position:-1655px -93px; 
}
.mtbp2 {
    background-position:-1708px -93px; 
}
.mtbp3 {
    background-position:-1761px -93px; 
}
.mtbp4 {
    background-position:-1814px -93px; 
}
.mtbp5 {
    background-position:-1867px -93px; 
}
.footway {
    background-position:-1496px -14px; 
}
.cycleway {
    background-position:-1549px -14px; 
}
.forbidden {
    background-position:-330px -170px; 
}
.wet {
    background-position:-434px -167px; 
}
.vegetation {
    background-position:-1549px -251px; 
}
.path_types {
    background-position:-1496px -247px; 
}

.continue {
    background-position:-594px -170px; 
}
.resurvey {
    background-position:-647px -170px; 
}
.noexit {
    background-position:-700px -170px; 
}

